<app-navbar [loggedPoet]="loggedPoet"></app-navbar>
<body>
  <div id="container-max" class="container-fluid shadow-lg p-3 mb-4 justify-content-center rounded" style="background-color: rgb(249, 220, 196, 0.2)">
      <div class="row justify-content-center">
        <div *ngIf="poems" class="col-11 mb-4">
          <app-main-card-generic [poem]="poem" *ngFor="let poem of poems"></app-main-card-generic>
        </div>
      </div>
  </div>
  <div *ngIf="pData">
    <app-pagination-bar *ngIf="pData>1" [pData]="pData" (newItemEvent)="changePage($event)"></app-pagination-bar> 
  </div>
</body>