<app-navbar></app-navbar>
<body style="background-color: #e6ccb2;">
<div class="container shadow-lg p-3 mb-4 justify-content-center" style="background-color: #f9dcc4">
    <div class="row justify-content-center">
      <div class="col-11 mb-4">
        <div class="card" id="poemPreview" style="background-color: #e6ccb2">
          <div class="card-body">
            <div class="row mb-4 ms-2 me-2 pe-5 mt-2" style="background-color: white; border-radius: 30px">
              <div class="col-lg-1 col-md-2 col-sm-3 mt-3 mb-3 p-1">
                <img src="assets/luis_profile.png" class="img-fluid ms-3" alt="profile">
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5 my-auto justify-content-center ms-2">
                <h3>LuisMi</h3>
              </div>
            </div>
            <div class="row pt-1 pb-5 m-2 border rounded" style="background-color: white">
              <div class="col-6">
                <p style="font-size: 25px; color: rgb(22, 20, 20); font-weight: bold;">Lorem ipsum</p>
              </div>
              <div class="col-6 text-end">
                <p style="font-size: 15px; color: lightslategray;">17/09/2022</p>
              </div>
              <div class="col-12 p-3">
                <p class="card-text" style="text-align:left; font-size: 25px;">
                  "Lorem ipsum dolor sit, amet  adipisicing elit. Laboriosam quibusdam doloremque saepe qui, consequatur voluptas, nostrum at cupiditate sequi quam ullam beatae. Autem excepturi iusto, dolorum accusamus adipisci similique expedita?"
                </p>
              </div>
            </div>
            <div class="row mt-4 mb-2 mx-1" style="background-color: white; border-radius: 30px;">
                <div class="d-flex d-block justify-content-center" id="footerTopTextRow">
                  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 text-start">
                    <p style="background-color: lightgreen; outline-color: lightgreen; color: black; border-radius: 30px; text-align: center;">Calificación promedio</p>
                  </div>
                  <div class="col-xl-6 col-lg-4 col-md-2 col-sm-0">
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 text-end">
                    <p style="background-color: rgb(238, 174, 144); outline-color: rgb(238, 174, 144); color: black; border-radius: 30px; text-align: center;">Calificaciones</p>
                  </div>
                </div>
                <div class="row" id="footerBottomTextRow">
                  <div class="col-xxl-6 col-xl-4 col-md-6 col-sm-7 pb-3">
                    <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger;"></i>
                    <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: #ffb703; font-size: larger"></i>
                    <i class="fa-regular fa-star" style="color: #ffb703; font-size: larger"></i>
                    <i class="fa-regular fa-star" style="color: #ffb703; font-size: larger"></i>
                    <label class="ms-3" style="font-size: 1.6rem; color: black; font-weight: 800;">2.4</label>
                  </div>
                  <div class="col-xxl-6 col-xl-8 col-lg-6 col-sm-5 pb-3 text-end">
                    <label class="ms-3" style="font-size: 1.6rem; color: black; font-weight: 800;">6</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-11 mb-4">
        <div class="card" id="poemPreview" style="background-color: #e6ccb2">
          <div class="card-body">
            <div class="row mb-4 ms-2 me-2 pe-5 mt-2" style="background-color: white; border-radius: 30px">
              <div class="col-lg-1 col-md-2 col-sm-3 mt-3 mb-3 p-1">
                <img src="assets/chano_profile.png" class="img-fluid ms-3" alt="profile">
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5 my-auto justify-content-center ms-2">
                <h3>ChanoC</h3>
              </div>
            </div>
            <div class="row pt-1 pb-5 m-2 border rounded" style="background-color: white">
              <div class="col-6">
                <p style="font-size: 25px; color: rgb(22, 20, 20); font-weight: bold;">Lorem ipsum</p>
              </div>
              <div class="col-6 text-end">
                <p style="font-size: 15px; color: lightslategray;">17/09/2022</p>
              </div>
              <div class="col-12 p-3">
                <p class="card-text" style="text-align:left; font-size: 25px;">
                  "Lorem ipsum dolor sit, amet  adipisicing elit. Laboriosam quibusdam doloremque saepe qui, consequatur voluptas, nostrum at cupiditate sequi quam ullam beatae. Autem excepturi iusto, dolorum accusamus adipisci similique expedita?"
                </p>
              </div>
            </div>
            <div class="row mt-4 mb-2 mx-1" style="background-color: white; border-radius: 30px;">
              <div class="d-flex d-block justify-content-center" id="footerTopTextRow">
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 text-start">
                  <p style="background-color: lightgreen; outline-color: lightgreen; color: black; border-radius: 30px; text-align: center;">Calificación promedio</p>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-2 col-sm-0">
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 text-end">
                  <p style="background-color: rgb(238, 174, 144); outline-color: rgb(238, 174, 144); color: black; border-radius: 30px; text-align: center;">Calificaciones</p>
                </div>
              </div>
              <div class="row" id="footerBottomTextRow">
                <div class="col-xxl-6 col-xl-4 col-md-6 col-sm-7 pb-3">
                  <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger;"></i>
                  <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger"></i>
                  <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger"></i>
                  <i class="fa-regular fa-star" style="color: #ffb703; font-size: larger"></i>
                  <i class="fa-regular fa-star" style="color: #ffb703; font-size: larger"></i>
                  <label class="ms-3" style="font-size: 1.6rem; color: black; font-weight: 800;">3</label>
                </div>
                <div class="col-xxl-6 col-xl-8 col-lg-6 col-sm-5 pb-3 text-end">
                  <label class="ms-3" style="font-size: 1.6rem; color: black; font-weight: 800;">4</label>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-11">
          <div class="card" id="poemPreview" style="background-color: #e6ccb2">
            <div class="card-body">
              <div class="row mb-4 ms-2 me-2 pe-5 mt-2" style="background-color: white; border-radius: 30px">
                <div class="col-lg-1 col-md-2 col-sm-3 mt-3 mb-3 p-1">
                  <img src="assets/henry_profile.png" class="img-fluid ms-3" alt="profile">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 my-auto justify-content-center ms-2">
                  <h3>HenryC</h3>
                </div>
              </div>
              <div class="row pt-1 pb-5 m-2 border rounded" style="background-color: white">
                <div class="col-6">
                  <p style="font-size: 25px; color: rgb(22, 20, 20); font-weight: bold;">Lorem ipsum</p>
                </div>
                <div class="col-6 text-end">
                  <p style="font-size: 15px; color: lightslategray;">17/09/2022</p>
                </div>
                <div class="col-12 p-3">
                  <p class="card-text" style="text-align:left; font-size: 25px;">
                    "Lorem ipsum dolor sit, amet  adipisicing elit. Laboriosam quibusdam doloremque saepe qui, consequatur voluptas, nostrum at cupiditate sequi quam ullam beatae. Autem excepturi iusto, dolorum accusamus adipisci similique expedita?"
                  </p>
                </div>
              </div>
              <div class="row mt-4 mb-2 mx-1" style="background-color: white; border-radius: 30px;">
                <div class="d-flex d-block justify-content-center" id="footerTopTextRow">
                  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 text-start">
                    <p style="background-color: lightgreen; outline-color: lightgreen; color: black; border-radius: 30px; text-align: center;">Calificación promedio</p>
                  </div>
                  <div class="col-xl-6 col-lg-4 col-md-2 col-sm-0">
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 text-end">
                    <p style="background-color: rgb(238, 174, 144); outline-color: rgb(238, 174, 144); color: black; border-radius: 30px; text-align: center;">Calificaciones</p>
                  </div>
                </div>
                <div class="row" id="footerBottomTextRow">
                  <div class="col-xxl-6 col-xl-4 col-md-6 col-sm-7 pb-3">
                    <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger;"></i>
                    <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger"></i>
                    <i class="fa-regular fa-star" style="color: #ffb703; font-size: larger"></i>
                    <i class="fa-regular fa-star" style="color: #ffb703; font-size: larger"></i>
                    <i class="fa-regular fa-star" style="color: #ffb703; font-size: larger"></i>
                    <label class="ms-3" style="font-size: 1.6rem; color: black; font-weight: 800;">2</label>
                  </div>
                  <div class="col-xxl-6 col-xl-8 col-lg-6 col-sm-5 pb-3 text-end">
                    <label class="ms-3" style="font-size: 1.6rem; color: black; font-weight: 800;">8</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous" style="color: #432818">
          <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      <li class="page-item"><a class="page-link" href="#" style="color: #432818">1</a></li>
      <li class="page-item"><a class="page-link" href="#" style="color: #432818">2</a></li>
      <li class="page-item"><a class="page-link" href="#" style="color: #432818">3</a></li>
      <li class="page-item" style="color: #432818">
          <a class="page-link" href="#" aria-label="Next" style="color: #432818">
          <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
    </ul>
  </nav>
</body>