<app-navbar></app-navbar>
<body>
<div class="container shadow-lg p-3 mb-5 justify-content-center" style="background-color: #f9dcc4">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Usuarios</h6>
        <app-del-mod-chano></app-del-mod-chano>
        <app-del-mod-brunengo></app-del-mod-brunengo>
        <app-del-mod-henry></app-del-mod-henry>
        <app-del-mod-monti></app-del-mod-monti>
        <app-del-mod-peter></app-del-mod-peter>
        <app-del-mod-luismi></app-del-mod-luismi>

    </div>
</div>
</body>
    


     
