<app-navbar [loggedPoet]="loggedPoet"></app-navbar>
<body>
    <div id="container-max" class="container-fluid shadow-lg p-md-3 p-sm-1 mb-5 justify-content-center" style="background-color: rgb(249, 220, 196,0.2)">
      <div class="row justify-content-center">
        <div class="col-11 mb-4">
          <app-main-card-generic [poem]="poem"></app-main-card-generic>
        </div>
        <div class="col-11 mb-2">
          <app-add-comment></app-add-comment>
        </div>
        <div class="col-11 mb-1">
          <app-comment-generic [rating]="rating" *ngFor="let rating of currentPoemRatings"></app-comment-generic>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </body>
