<app-navbar></app-navbar>
<body style="background-color: #e6ccb2;">
    <div class="container-md shadow-lg p-md-3 p-sm-1 mb-5 justify-content-center" style="background-color: #f9dcc4">
      <div class="row justify-content-center">
        <div class="col-11 mb-4">
          <app-main-poem-card-henry></app-main-poem-card-henry>
        </div>
        <div class="col-11 mb-2">
          <app-add-comment></app-add-comment>
        </div>
        <div class="col-11 mb-1">
          <app-comment-chano></app-comment-chano>
        </div>
        <div class="col-11 mb-1">
          <app-comment-luismi></app-comment-luismi>
        </div>
      </div>
    </div>
  </body>
