<div class="row mb-3 justify-content-start">
    <div class="container-fluid align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" style="background-color: #311e184b;">
      <div class="row">
        <div class="col"></div>
        <div class="col text-center"><div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" id="pEditorButton"  style="border-radius: 20px; background-color: #bb9557d3; border-color: white; border-width: 2px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filtrar por
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Título</a></li>
          <li><a class="dropdown-item" href="#">Fecha</a></li>
          <li><a class="dropdown-item" href="#">Calificación</a></li>
        </ul>
      </div></div>
        <div class="col"><div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" id="pEditorButton" style="border-radius: 20px; background-color: #bb9557d3; border-color: white; border-width: 2px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar por
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Calificación</a></li>
          <li><a class="dropdown-item" href="#">Alfabeto</a></li>
          <li><a class="dropdown-item" href="#">Ascendente</a></li>
        </ul>
      </div></div>
        <div class="col"></div>
      </div>
    </div>
  </div>