<div class="row mb-3 justify-content-start">
    <div class="container-fluid align-items-center p-2 my-2 text-white bg-purple rounded">
      <div class="row">
        <div class="col"></div>
        <div class="col text-center"><div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" id="pEditorButton" style="border-radius: 20px; background-color: #bb9557d3; border-color: white; border-width: 2px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar por
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="orderBy(0)">Mejor calificado</a></li>
            <li><a class="dropdown-item" (click)="orderBy(1)">Más calificaciones</a></li>
            <li><a class="dropdown-item" (click)="orderBy(2)">Menos calificaciones</a></li>
            <li><a class="dropdown-item" (click)="orderBy(3)">Más reciente</a></li>
            <li><a class="dropdown-item" (click)="orderBy(4)">Más antiguo</a></li>
            <li><a class="dropdown-item" (click)="orderBy(5)">Nombre (ascendente)</a></li>
            <li><a class="dropdown-item" (click)="orderBy(6)">Nombre (descentente)</a></li>
          </ul>
      </div></div>
        <div class="col"></div>
      </div>
    </div>
  </div>