<div class="col-1 p-1 my-auto ms-5 me-xxl-2 me-xl-2 me-lg-2 me-md-5 me-sm-5">
    <img src="assets/lilita_profile.png" class="rounded-circle shadow-lg" style="border-radius: 110px;" alt="profile" width="100px">
</div>
<div class="col-auto my-auto ms-4 justify-content-center" style="background-color: white; border-radius: 50px">
    <h3 class="display-4 py-3 px-3">Lilita Carrió</h3>
</div>
<div class="col-xxl-5 col-xl-4 col-lg-3 col-md-6 col-sm-8 my-auto pt-md-4 pt-sm-3 text-end">
    <button type="button" class="btn btn-primary btn-lg ms-5 me-2">Editar perfil</button>
</div>
<div class="col-auto my-auto pt-md-4 pt-sm-3 text-end">
    <a type="button text-decoration-none" class="btn btn-danger btn-lg" href="login.html">Cerrar sesion</a>
</div>