<body>
    <div class="container-lg rounded px-3 mx-auto py-0">
        <div class="col-auto p-3 text-center my-auto shadow-lg" style="background-color: #725c48;">
            <h1 id="title" class="display-1" style="color: rgb(247, 242, 242); font-weight: bold;">¿Cómo llegaste aquí?</h1>
        </div>
        <div class="col-auto m-0 p-2" style="background-color: #a58567; border-bottom: 10px solid rgba(233, 229, 229, 0.301); border-left: 10px solid rgba(233, 229, 229, 0.301); border-right: 10px solid rgba(233, 229, 229, 0.301);">
            <h1 id="subtitle" class="mb-4 p-3" style="color: rgb(247, 242, 242);"><i>Parece que estás intentando acceder a una página no existente.</i></h1>
            <ul>
                <h2 id="subtitle-2" style="color: rgb(247, 242, 242); font-weight: lighter;">• Revisa si el URL al que estás intentando acceder está escrito correctamente y vuelve a intentarlo.</h2>
                <h2 id="subtitle-2" style="color: rgb(247, 242, 242); font-weight: lighter;">• O, puedes volver a la <a routerLink="/home" style="color: #ddd;">página principal</a> para seguir leyendo poemas.</h2>
            </ul>
            <div class="text-center pb-3">
                <img src="assets/404cat.png" class="rounded img-fluid p-3" alt="gato durmiente 404" style="background-color: #4d3a284d;">
            </div>
        </div>
    </div>
</body>
