<div class="row ms-3 mt-3 me-3 mb-3">
    <div class="card" id="poemPreview" style="background-color: #e6ccb2" >
      <div class="row justify-content-center m-3" style="background-color: white; border-radius: 30px">
        <div class="col-xxl-3 col-lg-3 col-md-auto ms-lg-3 ms-md-1 me-md-2 my-auto text-center"><h2>Lorem ipsum</h2></div>
        <div class="col-auto my-auto"><h1>|</h1></div>
        <div class="col-md-3 ms-xxl-4 ms-xl-3 ms-lg-2 me-1 my-auto text-center"><h3 style="font-weight: 300;">27-03-2022</h3></div>
        <div class="col-auto my-auto"><h1>|</h1></div>
        <div class="col-xxl-3 col-lg-2 col-md-2 ms-xxl-4 ms-xl-3 ms-md-2 me-lg-1 me-sm-0 my-auto text-center"><h4><b>LilCarrey</b></h4></div>
        <div class="col-xl-1 col-md-2 py-2 justify-content-center">
          <img src="assets/lilita_profile.png" width="80" height="80" alt="profile">
        </div>
      </div>
    </div>
  </div>