<div class="card" id="poemPreview" style="background-color: #e6ccb2">
    <div class="card-body">
      <div class="row mb-4 ms-2 me-2 pe-5 mt-2" style="background-color: white; border-radius: 30px">
        <div class="col-lg-1 col-md-2 col-sm-3 p-1">
          <i class="bi bi-person-circle ms-2" style="font-size: 4rem; color: black;"></i>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 my-auto justify-content-center ms-2">
          <h3>Anónimo</h3>
        </div>
      </div>
      <div class="row pt-1 pb-5 m-2 border rounded" style="background-color: white">
        <div class="col-6">
          <p style="font-size: 25px; color: rgb(22, 20, 20); font-weight: bold;">Lorem ipsum</p>
        </div>
        <div class="col-6 text-end">
          <p style="font-size: 15px; color: lightslategray;">17/09/2022</p>
        </div>
        <div class="col-12 p-3">
          <p class="card-text" style="text-align:left; font-size: 25px;">
            "Lorem ipsum dolor sit, amet  adipisicing elit. Laboriosam quibusdam doloremque saepe qui, consequatur voluptas, nostrum at cupiditate sequi quam ullam beatae. Autem excepturi iusto, dolorum accusamus adipisci similique expedita?"
          </p>
        </div>
      </div>
      <div class="row mt-4 mx-2 mb-2" style="background-color: white; border-radius: 30px;">
        <div class="row-2">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
              <p style="background-color: lightgreen; outline-color: lightgreen; color: black; border-radius: 30px; text-align: center;">Calificación promedio</p>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-7 pb-3">
            <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger;"></i>
            <i class="fa-solid fa-star" style="color: #ffb703; font-size: larger"></i>
            <i class="fa-solid fa-star" style="color: #ddd; font-size: 22px"></i>
            <i class="fa-solid fa-star" style="color: #ddd; font-size: 22px"></i>
            <i class="fa-solid fa-star" style="color: #ddd; font-size: 22px"></i>
            <label class="ms-3" style="font-size: 1.6rem; color: black; font-weight: 800;">2.2</label>
        </div>
      </div>
    </div>
</div>
