body {
    background-image: url("./../../../assets/login (1).jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
  }

  #toast-container > div {
    opacity: 1 !important;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color: #51A351 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }