<app-navbar [loggedPoet]="loggedPoet"></app-navbar>
<body style="background-color: #e6ccb2;">
    <div class="container shadow-lg p-3 mb-5 justify-content-center" style="background-color: #f9dcc4">
        <div class="row justify-content-center">
            <div class="col-11 mb-4">
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <h6 class="border-bottom pb-2 mb-0">Peticiones</h6>
                    <app-approval-req [poet]="poet" *ngFor="let poet of unactivatedPoets"></app-approval-req>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-dark mb-3" routerLink="/login/admin/delete_or_modify" role="button">Ir a bajas y modificaciones</a>
        </div>
    </div>
</body>