<nav>
    <ul class="pagination justify-content-center">
      <li class="page-item">
          <button class="page-link" (click)="changePage(currentPage-1)" aria-label="Previous" style="color: #432818">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li *ngFor="let page of pageAmount" class="page-item"><button class="page-link" (click)="changePage(page)" style="color: #432818">{{ page }}</button></li>
      <li class="page-item" style="color: #432818">
          <button class="page-link" (click)="changePage(currentPage+1)" aria-label="Next" style="color: #432818">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
</nav>
