<body background="assets/bc-1.jpg">
    <app-not-admin-navbar></app-not-admin-navbar>
    <div class="container shadow-lg p-3 mb-4 justify-content-center" style="background-color: rgb(249, 220, 196, 0.2)">
        <div class="row justify-content-center">
            <div class="col-11 mb-4">
                <app-main-poem-card-luismi></app-main-poem-card-luismi>
            </div>
            <div class="col-11 mb-4">
                <app-main-poem-card-chano></app-main-poem-card-chano>
            </div>
            <div class="col-11">
                <app-main-poem-card-henry></app-main-poem-card-henry>
            </div>
        </div>
    </div>
    <app-pagination-bar></app-pagination-bar>
</body>
