    <div class="row ms-3 mt-3 me-3 mb-3">
        <div class="card" (click)="goComments(poem.id)" id="poemPreview" style="background-color: #e6ccb2" >
          <div id="card-container" class="row justify-content-center m-3">
            <div id="title-container" class="col-xxl-5 col-xl-5 col-lg-8 col-md-8 col-sm-8 col-12">
              <h2 id="title">{{ poem.title }}</h2>
            </div>
            <div id="date-container" class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-4 col-9">
              <h3 id="date">{{ poem.date }}</h3>
            </div>
            <div id="rating-container" class="col-xxl-1 col-xl-1 col-lg-3 col-md-3 col-sm-3 col-3">
              <h4 id="rating">
                <b id="rate">{{ poem.av_rating }}</b>
                <label id="rate" *ngIf="poem.av_rating==null">0</label>
                <i class="fa-solid fa-star" style="color: #ffb703"></i>
              </h4>
            </div>
            <div id="uname-container" class="col-xxl-3 col-xl-3 col-lg-5 col-md-5 col-sm-5 col-8">
              <h4 id="unameh">
                <b id="uname">{{ poem.poet.uname }}</b>
              </h4>
            </div>
            <div id="profile-container" class="col-xxl-1 col-xl-1 col-lg-4 col-md-4 col-sm-4 col-4">
              <img id="profile" src="assets/brunengo_profile.png" width="80" height="80" alt="profile">
            </div>
          </div>
        </div>
      </div>