<div class="container-sm shadow-lg pt-3 px-3 pb-3 my-auto" style="background-color: rgb(173, 151, 129, 0.4);border-radius: 6px;"> 
    <div class="row py-auto">
        <a routerLink="/login" style="text-decoration: none;">
            <i class="bi bi-arrow-left" style="color: whitesmoke; font-weight: bold; font-size: 40px;"></i>
        </a>
    </div>
    <div id="login-form-wrap">
        <img src="assets/logo_botellas_en_el_mar.png"
                width="350"
                height="50"
                class="mt-3 mb-5">
        <form [formGroup]="registrationForm" id="registro">
            <p>
            <input type="text" required class="form-control" formControlName="name" placeholder="Nombre" aria-label="Nombre"><i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <input type="text" required class="form-control" formControlName="lname" placeholder="Apellido" aria-label="Apellido"><i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <input type="text" required class="form-control" formControlName="uname" placeholder="Nombre de usuario" aria-label="Nombre de usuario"><i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <input type="email" required class="form-control" formControlName="mail" ngModel email placeholder="Dirección de correo" aria-label="Dirección de correo"><i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <input type="password" required formControlName="passw1" class="form-control" placeholder="Contraseña" aria-label="Contraseña"><i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <input type="password" required formControlName="passw2" class="form-control" placeholder="Confirmar contraseña" aria-label="Confirmar contraseña"><i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <input type="submit" (click)="submit()" id="register" value="Registrarme">
            </p>
        </form>
    </div>
</div>
