<div class="container-lg shadow-lg pt-2 px-3 mx-auto pb-3 mb-5 mt-5" style="background-color: #ad9781;"> 
    <div class="row py-auto">
        <a routerLink="" style="text-decoration: none;">
            <i class="bi bi-arrow-left" style="color: whitesmoke; font-weight: bold; font-size: 50px;"></i>
        </a>
    </div>
    <div class="d-flex justify-content-center my-auto">
        <div class="col-xl-6 col-lg-5 col-sm-4 mt-5 mb-5 shadow-lg" style="background-color: rgba(73, 47, 9, 0.24); border-radius: 50px;">
            <div class="d-none d-md-block">
                <img src="assets/botella_login.jpg" width="375" class="rounded-circle img-fluid center-block d-block pb-4 mx-auto px-auto pt-3" alt="Botellas en el mar">
            </div>
            <div class="d-md-none">
                <img src="assets/botella_login.jpg" width="250" class="rounded-circle img-fluid center-block d-block pb-4 mx-auto px-auto pt-3" alt="Botellas en el mar">
            </div>
            <div class="d-none d-lg-block">
                <p style="text-align: center; color: white; font-weight: 200; border-radius: 30px; font-size: 30px">
                    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et cursus augue. Vestibulum vel viverra diam, et commodo sem. Curabitur aliquet suscipit laoreet. Donec ante.</i>
                </p>
                <p class="pe-5"style="text-align: right; color: white; font-weight: 100; font-size: 20px">
                    - Lorem ipsum.
                </p> 
            </div>
            <div class="d-lg-none">
                <p style="text-align: center; color: white; font-weight: 200; border-radius: 30px; font-size: 20px">
                    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et cursus augue. Vestibulum vel viverra diam, et commodo sem. Curabitur aliquet suscipit laoreet. Donec ante.</i>
                </p>
                <p class="pe-5"style="text-align: right; color: white; font-weight: 100; font-size: 15px">
                    - Lorem ipsum.
                </p> 
            </div>     
        </div>
        <div class="col-xl-5 mx-5 my-auto mb-auto" style="background-color: rgba(236, 200, 145, 0.24); border-radius: 50px;">
            <div class="text-center m-5">
                <div class="d-none d-xxl-block">
                    <img src="assets/logo_botellas_en_el_mar.png"
                        width="350"
                        height="50">
                </div>
                <div class="d-none d-xl-block d-xxl-none m-5">
                    <img src="assets/logo_botellas_en_el_mar.png"
                        width="350"
                        height="50">
                </div>
                <div class="d-none d-md-block d-xl-none m-5">
                    <img src="assets/logo_botellas_en_el_mar.png"
                        width="350"
                        height="50">
                </div>
                <div class="d-md-none m-5">
                    <img src="assets/logo_botellas_en_el_mar.png"
                        width="350"
                        height="50">
                </div>
            </div>
            <form [formGroup]="loginForm">
                <div class="form-outline mb-4 mx-5">
                    <input required type="email" class="form-control" formControlName="mail" placeholder="Dirección email" aria-label="Email" style="background-color: #e6ccb2; border-color: whitesmoke; border-width: 2px;" />
                </div>
            
                <div class="form-outline mb-4 mx-5">
                    <input required type="password" class="form-control" formControlName="passw" placeholder="Contraseña" aria-label="Contraseña" style="background-color: #e6ccb2; border-color: whitesmoke; border-width: 2px;" />
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" checked/>
                        <label class="form-check-label" style="color: white;">Recuérdame</label>
                    </div>
                </div>
                <div class="text-center">
                    <button (click)="submit()" class="btn btn-primary" role="button" style="text-decoration: none">Iniciar sesión</button>
                </div>

                <div class="row mb-4 mt-4 mx-auto ps-5">
            
                    <div class="col">
                        <a style="color: whitesmoke;" href="#!">¿Olvidaste tu contraseña?</a>
                    </div>

                    <div class="col ms-5 ps-3">
                        <a style="color: whitesmoke;" routerLink="/register">Registrarse</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

