<ng-container *ngIf="poet">
    <div class="d-flex text-muted pt-3">      
        <img src="assets/chano_profile.png" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="60" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{ poet.name }} {{ poet.lname }}</strong>
                <div class="col-sm-1.5">
                    <button class="btn btn-dark" id="modifyUser" type="button" data-toggle="tooltips" data-display="bottom" title="Modificar" style="border-radius: 20px; background-color: #c397e7; border-color: black; border-width: 2px" aria-expanded="false">
                        <i class="bi bi-wrench"></i>
                    </button>
                    <button (click)="deletePoet()" class="btn btn-dark"  id="deleteUser" type="button" data-toggle="tooltips" data-display="bottom" title="Eliminar" style="border-radius: 20px; background-color: #591a8d; border-color: black; border-width: 2px" aria-expanded="false">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </div>
            <span class="d-block"> {{ poet.mail }} </span>
        </div>
    </div>
</ng-container>
