<div class="container-lg shadow-lg  mb-5 justify-content-center" id=pEditor style="background-color: #f9dcc4">
    <div class="row justify-content-center">
      <div class="col-11 mb-4">
        <div class="card">
          <div class="card-body" style="background-color: rgb(255, 246, 246);">
            <div class="d-flex justify-content-center border rounded mt-2 mb-2" style="background-color: rgb(253, 216, 223);">
              <div class="col-xl-2">
                <div class="text-end me-5">
                  <div class="d-none d-md-block">
                    <i class="bi bi-vector-pen" style="text-align: center; font-size: 70px; color: rgb(0, 0, 0);"></i>
                  </div>
                  <div class="d-md-none">
                    <i class="bi bi-vector-pen" style="text-align: center; font-size: 50px; color: rgb(0, 0, 0);"></i>
                  </div>
                </div>
                </div>
              <div class="col-xxl-6 col-xl-7 ms-lg-2 my-auto align-items-center">
                <div class="d-none d-lg-block">
                  <h1 class="display-1" style="text-align: center;">Poem Editor</h1>
                </div>
                <div class="d-lg-none">
                  <h2 class="display-2" style="text-align: center;">Poem Editor</h2>
                </div>
              </div> 
            </div>
            <div class="row pt-1 pb-2 m-2">
              <form class="my-auto mx-auto" method="post" action="login_registered_admin.html">
                <div class="row">
                  <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-7 py-2 ms-3 mx-sm-auto my-2 text-center border rounded" style="background-color: white;">
                    <i class="bi bi-type-bold" id="icon" style="font-size: 30px; color: rgb(0, 0, 0);"></i>
                    <i class="bi bi-type-italic" id="icon" style="font-size: 30px; color: rgb(0, 0, 0);"></i>
                    <i class="bi bi-type-underline" id="icon" style="font-size: 30px; color: rgb(0, 0, 0);"></i>
                    <i class="bi bi-caret-left" id="icon" style="font-size: 30px; color: rgb(0, 0, 0);"></i>
                    <i class="bi bi-caret-right" id="icon" style="font-size: 30px; color: rgb(0, 0, 0);"></i>
                    <i class="bi bi-list" id="icon" style="font-size: 30px; color: rgb(0, 0, 0);"></i>
                  </div>
                  <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-6 col-sm-11 my-auto ms-xxl-3 me-xxl-4 mx-lg-3 ms-sm-4 text-end">
                    <input class="form-control" required="" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Escribe un título para tu poema.')" type="text" style="background-color: white; border-color: rgb(224, 224, 224); text-align: center; border-width: 1px; font-size: 30px;" placeholder="Título" aria-label="Título">
                  </div>
                </div>
                <div class="col-12 p-3">
                  <div class="form-group">
                    <textarea class="form-control" required="" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Escribe un cuerpo para tu poema.')" id="exampleFormControlTextarea1" rows="12" placeholder="Escribe aquí el cuerpo de tu poema."></textarea>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-6 p-3 align-items-start">
                    <div class="text-center">
                      <button type="submit" class="btn btn-outline-primary btn-lg ms-5 ms-sm-auto me-xl-2 me-lg-1 me-sm-auto" role="button" style="text-decoration: none">Publicar</button>
                    </div>
                  </div>
                  <div class="col-6 p-3 align-items-end">
                    <div class="text-center">
                      <button type="button" class="btn btn-outline-danger btn-lg ms-5 ms-sm-auto me-sm-3" data-bs-toggle="modal" data-bs-target="#discardConf">Descartar</button>
                    </div>
                  </div>
                </div>
              </form>                              
            </div>
        </div>
      </div>
    </div>
</div>
