<app-navbar [loggedPoet]="loggedPoet"></app-navbar>
<body>
    <div class="container-md shadow-lg p-3 mb-5 justify-content-center" style="background-color: rgb(249, 220, 196,0.2)">
      <app-profile-top [loggedPoet]="loggedPoet"></app-profile-top>
      <div class="row rounded ms-3 me-3">
        <app-profile-data [loggedPoet]="loggedPoet"></app-profile-data>
      </div>
      <app-main-poem-card-own [poem]="poem" *ngFor="let poem of ownPoems"></app-main-poem-card-own>
    </div>
    <app-pagination-bar></app-pagination-bar>
  </body>
