<header>
<nav class="navbar navbar-dark sticky-top navbar-expand-xxl pt-4 pb-4" style="background-color: rgb(124, 102, 70);">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" style="font-size: 37px; font-family: SF Cartoonist Hand, sans-serif" href="login_registered_admin.html">
      Botellas en el mar
    </a>
    <form class="d-flex col-xl-6 col-lg-5 col-md-4 mx-2">
      <a href="filtered.html" class="btn btn-secondary ms-xl-3 ms-md-1 ms-sm-0" type="submit" id="searchButton" data-toggle="tooltip" data-placement="bottom" title="Buscar" style="border-radius: 30px; background-color: #6f1d1b; border-color: white; border-width: 2px">
        <i class="bi bi-search" style="font-size: 1.35rem; color: white;"></i>
      </a>
      <input class="form-control ms-xl-4 ms-md-2 ms-sm-3 me-xl-5 me-md-1 me-sm-3" type="search" style="background-color: #dabcb7; border-color: white; border-width: 2px;" placeholder="Buscar usuarios, poemas..." aria-label="Buscar">
    </form>
    <div class="text-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: whitesmoke;"></span>
      </button>
    </div>
    <div class="d-none d-xxl-block">
      <ul ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="btn btn-dark" href="login_registered_admin_pending_request.html" type="submit" data-toggle="tooltip" data-placement="bottom" title="ABM" id="adminButton" style="border-radius: 30px; background-color: #bb9457; border-color: white; border-width: 2px" aria-expanded="false">
            <i class="bi bi-people-fill" style="font-size: 1.35rem; color: white;"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" type="submit" data-toggle="tooltip" data-placement="bottom" title="Editor de poemas" id="pEditorButton" style="border-radius: 30px; background-color: #99582a; border-color: white; border-width: 2px" aria-expanded="false" href="poem_editor.html">
            <i class="bi bi-vector-pen" style="font-size: 1.35rem; color: white;"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container-fluid ms-4" style="color: white;">
        <div class="row me-auto">
          <div class="d-none d-xxl-block">
            <div class="text-end">
              <h3 class="mx-auto"><b>Hola, Lilita!</b></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 me-auto">
        <div class="ms-auto">
          <a id=profPicture href="profile.html">
            <div class="d-xxl-none">
              <div class="text-start ms-3 mt-md-0 mt-sm-4">
                <img class="rounded" width="65px" src="assets/lilita_profile.png" alt="profile" data-toggle="tooltip" data-placement="bottom" title="Mi perfil">
              </div>
            </div>
            <div class="d-none d-xxl-block">
              <div class="text-end">
                <img class="rounded float-end" width="65px" src="assets/lilita_profile.png" alt="profile" data-toggle="tooltip" data-placement="bottom" title="Mi perfil">
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="d-xxl-none">
        <ul class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">
          <li class="nav-item me-3"><i class="bi bi-people-fill" style="font-size: 1.35rem; color: white;"></i>  <a href="login_registered_admin_pending_request.html" class="text-white">ABM</a></li>
          <li class="nav-item me-3"><i class="bi bi-vector-pen" style="font-size: 1.35rem; color: white;"></i>  <a href="poem_editor.html" class="text-white">Editor de poemas</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>



</header>
