<div class="d-flex text-muted pt-3">   
    <img src="assets/monti_profile.png" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="60" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
            <h5 class="text-gray-dark">agusmonti@gmail.com </h5>
            <div class="col-lg-2 col-md-3 col-sm-4">    
                <button class="btn btn-dark" id="acceptNewUser" type="submit" data-toggle="tooltips" data-display="bottom" title="Aceptar" style="border-radius: 20px; background-color: #3ed68a; border-color: rgb(156, 153, 153); border-width: 2px" aria-expanded="false">
                    <i class="bi bi-hand-thumbs-up"></i>
                </button>
                <button class="btn btn-dark" id="rejectNewUser" type="submit" data-toggle="tooltips" data-display="bottom" title="Rechazar" style="border-radius: 20px; background-color: #c93461; border-color: rgb(156, 153, 153); border-width: 2px" aria-expanded="false">
                    <i class="bi bi-hand-thumbs-down"></i>
                </button>
                <button class="btn btn-primary mt-2" id="displayMore" type="button" style="border-radius: 20px; background-color: #3470c9; border-color: rgb(156, 153, 153); border-width: 2px" data-bs-toggle="collapse" data-bs-target="#collapseMonti" aria-expanded="false" aria-controls="collapseMonti">
                    Ampliar
                </button> 
            </div>
        </div>
        <div class="collapse" id="collapseMonti">
            <div class="card card-body" style="border-width: 0px;">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Name: </strong> Agustín</li>
                    <li class="list-group-item"><strong>Surname: </strong> Montaña</li>
                    <li class="list-group-item"><strong>Nick: </strong> Monti28</li>
                </ul>
            </div>
        </div>
    </div>
</div>