<div class="col-md-12 mt-4 mb-2 mx-auto"> 
  <div class="card" style="background-color: rgb(219, 206, 199); border-radius: 40px;">
      <div class="card-body">
        <div class="row m-2" style="background-color: whitesmoke; border-radius: 30px">
          <div class="col-lg-1 col-sm-2 p-1 my-auto ms-4">
            <img src="assets/chano_profile.png" class="img-fluid" alt="profile">
          </div>
          <div class="col-4 my-auto py-4 justify-content-center">
            <h3>ChanoC</h3>
          </div>
        </div>
        <div class="row mx-2 my-4" style="background-color: white; border-radius: 20px">
          <div class="col-xl-auto col-sm-3 p-3 pb-3 my-auto">
            <div class="col-12">
              <p style="background-color: rgb(238, 216, 144); outline-color: rgb(238, 216, 144); color: black; border-radius: 30px; text-align: center;">Calificación</p>
            </div>
              <i class="fa-solid fa-star" style="color: #ffb703; font-size: 22px;"></i>
              <i class="fa-solid fa-star" style="color: #ffb703; font-size: 22px"></i>
              <i class="fa-solid fa-star" style="color: #ffb703; font-size: 22px"></i>
              <i class="fa-solid fa-star" style="color: #ddd; font-size: 22px"></i>
              <i class="fa-solid fa-star" style="color: #ddd; font-size: 22px"></i>
          </div>
          <div class="col-sm-1 col-sm-1 p-3 my-auto me-xxl-5 me-sm-2">
              <p style="font-size: 1.6rem; color: black; font-weight: 800;">3</p>
          </div>
          <div class="col-xl-8 col-lg-7 col-sm-7 py-4 px-md-5 my-auto justify-content-center border rounded" style="background-color: rgba(241, 241, 241, 0.623); border-radius: 10px;">
              <p class="card-text p-2" style="text-align:center; font-size: 1.6rem; color: black; font-weight: 400;">Your Poem is Crashing!!!</p>
          </div>
      </div>
    </div>
  </div> 
