<body style="background-color: #e6ccb2;">
    <app-navbar-unregistered></app-navbar-unregistered>
    <div class="container shadow-lg p-3 mb-4 justify-content-center" style="background-color: #f9dcc4">
        <div class="row justify-content-center">
            <div class="col-11 mb-4">
                <app-main-poem-card-notlogged></app-main-poem-card-notlogged>
            </div>
            <div class="col-11 mb-4">
                <app-main-poem-card-notlogged></app-main-poem-card-notlogged>
            </div>
            <div class="col-11">
                <app-main-poem-card-notlogged></app-main-poem-card-notlogged>
            </div>
        </div>
    </div>
    <app-pagination-bar></app-pagination-bar>
</body>
