<body>
    <app-navbar-unregistered></app-navbar-unregistered>
    <div class="container shadow-lg p-3 mb-4 justify-content-center" style="background-color: rgb(249, 220, 196, 0.2)">
        <div class="row justify-content-center">
            <div class="col-11 mb-4">
                <app-main-poem-card-notlogged></app-main-poem-card-notlogged>
            </div>
            <div class="col-11 mb-4">
                <app-main-poem-card-notlogged></app-main-poem-card-notlogged>
            </div>
            <div class="col-11">
                <app-main-poem-card-notlogged></app-main-poem-card-notlogged>
            </div>
        </div>
    </div>
    <app-pagination-bar></app-pagination-bar>
</body>
